[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
requests = "*"
gunicorn = "*"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.8"
